body {
  font-family: "Arial";
}
.redring-navbar {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  font-weight: bold;
  color: #555555;
  display: flex;
  position: absolute;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #AAAAAA;
}
.navbar-container {
  margin: 0;
  width: 100%;
  padding: 0;
}
@media (max-width: 601px) {
  .navbar-container {
    display: none;
    width: 21%;
  }
}
.navbar-item {
  text-align: center;
  list-style: none;
  float: left;
  height: 100%;
  padding: 0 20px;
  background-color: #BBBBBB;
  margin: 0 2px;
  line-height: 80px;
}
@media (max-width: 601px) {
  .navbar-item {
    width: 100%;
  }
}
.navbar-item:hover {
  background-color: #CCCCCC;
}
.collapse-button {
  display: none;
  margin: 0;
}
@media (max-width: 601px) {
  .collapse-button {
    display: block;
  }
}
.navbar-button-container {
  display: none;
  height: 100%;
  float: right;
  margin-right: 10px;
}
@media (max-width: 601px) {
  .navbar-button-container {
    display: block;
  }
}
.navbar-button {
  font-weight: bold;
  font-size: medium;
  color: #555555;
  height: 100%;
  padding: 0 50px;
  border: none;
  background-color: #BBBBBB;
}
.navbar-button:hover {
  background-color: #CCCCCC;
}
.logo {
  display: inline-block;
  float: left;
  padding: 0;
  max-width: 100px;
}
.logo > img {
  height: 100%;
}
.show-dropdown {
  display: block !important;
  right: 40px;
  position: absolute;
  top: 80px;
  z-index: 1;
}
.footer {
  background-color: #AAAAAA;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (max-width: 500px) {
  .footer {
    display: none;
  }
}
